@font-face {
    font-family: "Scoreboard";
    src: url('fonts/scoreboard.ttf');
}

#footer {
    background-color: darkgreen;
    background: url("textures/field.png") no-repeat;
    background-size: cover;
    position: absolute;
    height: 150px;
    width: 794px;
    border: 3px white solid;
}

#game_over {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 800px;
    height: 800px;
    background: url("textures/soccer_field.png") no-repeat;
    background-size: cover;
    display: none;
}

#score_container {
    font-family: "Scoreboard";
    font-size: 44px;
    width: 55px;
    height: 55px;
    background-color: white;
    margin: 0 auto;
}

#score {
    margin-left: 10px;
}

h2 {
    padding: 0;
    margin: 0;
    margin-left: 340px!important;
    font-size: 44px;
    font-family: "Scoreboard";
    color: white;
}

#winner_text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

h1 {
    font-size: 90px;
    font-family: "Scoreboard";
    color: white;
}

p {
    font-family: "Scoreboard";
    font-size: 75px;
    color: white;
}

#lifes {
    display: flex;
    flex-direction: row;
}

.img_life {
    width: 64px;
    height: 64px;
}

#fire_ball {
    float: right;
}

#fire_ball_img {
    height: 50px;
    width: 42px;
    display: none;
}